<form id="buttonsGameForm">
	<input type="button" name="showSolutions" value="<%= __('buttons.showSolutions') %>">
	<input type="button" name="showSolution" value="<%= __('buttons.showSolution') %>">
	<input type="button" name="placeCube" value="<%= __('buttons.placeCube') %>">
	<input type="button" name="next" value="<%= __('buttons.next') %>">
	<input type="button" name="previous" value="<%= __('buttons.previous') %>">
	<input type="button" name="menu" value="<%= __('buttons.menu') %>">
	<input type="button" name="restart" value="<%= __('buttons.restart') %>">
	<input type="button" name="options" value="<%= __('buttons.options') %>">
	<input type="button" name="pause" value="<%= __('buttons.pause') %>">
</form>