<div id="webGLerror">
	<p class="bold red">
		<%= __('components.webGLnotSupported.title') %> <a
			href="http://khronos.org/webgl/wiki/Getting_a_WebGL_Implementation" class="black">WebGL</a>.
	</p>
	<p>
		<%= __('components.webGLnotSupported.browser') %> <a href="http://www.mozilla.org/es-ES/firefox"
			class="black">Mozilla Firefox</a> <%= __('words.or') %> <a
			href="http://www.google.com/chrome?hl=es" class="black">Google Chrome</a>.
	</p>
	<p><%= __('components.webGLnotSupported.firefox') %>:</p>
	<ul class="left">
		<li><%= __('components.webGLnotSupported.firefox1') %>: 'about:config'.</li>
		<li><%= __('components.webGLnotSupported.firefox2') %></li>
		<li><%= __('components.webGLnotSupported.firefox3') %></li>
		<li><%= __('components.webGLnotSupported.firefox4') %></li>
		<li><%= __('components.webGLnotSupported.firefox5') %></li>
	</ul>
	<p><%= __('components.webGLnotSupported.chrome') %>:</p>
	<ul class="left">
		<li><%= __('components.webGLnotSupported.chrome1') %>: “about:flags”.</li>
		<li><%= __('components.webGLnotSupported.chrome2') %></li>
		<li><%= __('components.webGLnotSupported.chrome3') %></li>
		<li><%= __('components.webGLnotSupported.chrome4') %></li>
	</ul>
</div>