<div class="msgMenu">
	<h1><%= __('menu.classicMode') %></h1>
	<p><%= __('dialogs.classicMode.description') %></p>
	<div>
		<%= __('buttons.chooseNumberOfCubes') %>:
		<fieldset>
			<input type="radio" id="cubes27classic" checked="checked" name="cubesNumber">
			<label for="cubes27classic"><%= __('buttons.27cubes') %></label>
			<input type="radio" id="cubes8classic" name="cubesNumber">
			<label for="cubes8classic"><%= __('buttons.8cubes') %></label>
		</fieldset>
	</div>
</div>