<div class="menu">
	<form>
		<div class="msgMenu">
			<h1><%= __('menu.findServer') %></h1>
			<p><%= __('dialogs.multiplayer.chooseGame') %>:</p>
			<div class="menuContainer list leftContainer">
				<table>
					<thead>
						<tr>
							<th><%= __('words.name') %></th>
							<th><%= __('words.kind') %></th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="rightContainer">
			<input type="button" name="refresh" value="<%= __('buttons.refreshGames') %>" class="bold">
		</div>
		<div class="buttonsMenu">
			<input type="button" name="back" value="<%= __('buttons.back') %>">
			<input type="button" name="start" value="<%= __('buttons.start') %>">
		</div>
	</form>
</div>