<div class="menu help">
	<form>
		<h1><%= __('menu.help') %></h1>
		<div class="menuContainer leftContainer">
			<div class="controls">
				<h3><%= __('buttons.controls') %></h3>
				<table>
					<tr>
						<td><img alt="<%= __('words.leftButton') %>" src="img/leftButton.gif" class="movButton"></td>
						<td><img alt="<%= __('words.isUsed') %>" src="img/arrow.gif"></td>
						<td><img alt="<%= __('words.translation') %>" src="img/movShape.png"></td>
						<td><span style="vertical-align: 180%"> <%= __('words.translation') %><span></td>
					</tr>
					<tr>
						<td><img alt="<%= __('words.rightButton') %>" src="img/rightButton.gif" class="rotButton"></td>
						<td><img alt="<%= __('isUsed') %>" src="img/arrow.gif"></td>
						<td><img alt="<%= __('words.constantTurn') %>" src="img/rotShape.png"></td>
						<td><span style="vertical-align: 180%"> <%= __('words.constantTurn') %><span></td>
					</tr>
					<tr>
						<td><img alt="<%= __('words.leftButton') %>" src="img/rightButton.gif" class="rotButton"></td>
						<td><img alt="+ Ctrl <%= __('words.isUsed') %> " src="img/arrowCtrl.gif"></td>
						<td><img alt="<%= __('words.90degreesTurn') %>" src="img/rotShape90.png"></td>
						<td><span style="vertical-align: 180%"> <%= __('words.90degreesTurn') %><span></td>
					</tr>
					<tr>
						<td><img alt="<%= __('words.bothButtons') %>" src="img/buttons.gif"></td>
						<td><img alt="<%= __('isUsed') %>" src="img/arrow.gif"></td>
						<td><img alt="<%= __('words.zAxisTurn') %>" src="img/rotShapeZ.png"></td>
						<td><span style="vertical-align: 180%"> <%= __('words.zAxisTurn') %><span></td>
					</tr>
				</table>
			</div>
			<div class="hide">
				<h3><%= __('buttons.menu') %></h3>
				<p><%= __('dialogs.help.menu.1') %></p>
				<p><%= __('dialogs.help.menu.2') %></p>
				<p><%= __('dialogs.help.menu.3') %></p>
				<p><%= __('dialogs.help.menu.4') %></p>
				<p><%= __('dialogs.help.menu.5') %></p>
				<p><%= __('dialogs.help.menu.6') %></p>
			</div>
			<div class="hide">
				<h3><%= __('buttons.game') %></h3>
				<p><%= __('dialogs.help.game.1') %></p>
				<p><%= __('dialogs.help.game.2') %></p>
				<img src="img/help.png" style="width: 100%">
				<p><%= __('dialogs.help.game.3') %></p>
				<p><%= __('dialogs.help.game.4') %></p>
			</div>
			<div class="hide">
				<h3><%= __('buttons.gameModes') %></h3>
				<p><%= __('dialogs.help.gameModes') %></p>
				<ul style="list-style-position: inside">
					<li><%= __('dialogs.help.gameModes.1') %></li>
					<li><%= __('dialogs.help.gameModes.2') %>
						<ul style="list-style-type: circle; list-style-position: inside">
							<li><%= __('dialogs.help.gameModes.2.1') %></li>
							<li><%= __('dialogs.help.gameModes.2.2') %></li>
							<li><%= __('dialogs.help.gameModes.2.3') %></li>
							<li><%= __('dialogs.help.gameModes.2.4') %></li>
							<li><%= __('dialogs.help.gameModes.2.5') %></li>
							<li><%= __('dialogs.help.gameModes.2.6') %></li>
							<li><%= __('dialogs.help.gameModes.2.7') %></li>
							<li><%= __('dialogs.help.gameModes.2.8') %></li>
						</ul></li>
					<li><%= __('dialogs.help.gameModes.3') %></li>
					<li><%= __('dialogs.help.gameModes.4') %></li>
				</ul>
			</div>
			<div class="hide">
				<h3><%= __('buttons.library') %></h3>
				<p><%= __('dialogs.help.library.1') %></p>
				<p><%= __('dialogs.help.library.2') %></p>
				<p><%= __('dialogs.help.library.3') %></p>
				<p><%= __('dialogs.help.library.4') %></p>
			</div>
			<div class="hide">
				<h3><%= __('buttons.multiplayer') %></h3>
				<p><%= __('dialogs.help.multiplayer.1') %></p>
				<p><%= __('dialogs.help.multiplayer.2') %></p>
				<p><%= __('dialogs.help.multiplayer.3') %></p>
				<p><%= __('dialogs.help.multiplayer.4') %></p>
				<p><%= __('dialogs.help.multiplayer.5') %></p>
			</div>
		</div>
		<div class="rightContainer">
			<input type="button" value="<%= __('buttons.controls') %>">
			<input type="button" value="<%= __('buttons.menu') %>">
			<input type="button" value="<%= __('buttons.game') %>">
			<input type="button" value="<%= __('buttons.gameModes') %>">
			<input type="button" value="<%= __('buttons.library') %>">
			<input type="button" value="<%= __('buttons.multiplayer') %>">
		</div>
		<div class="buttonsMenu">
			<input type="button" name="back" value="<%= __('buttons.back') %>">
		</div>
	</form>
</div>