<div class="msgMenu">
	<h1><%= __('menu.levelsMode') %></h1>
	<p><%= __('dialogs.levels.chooseLevel') %>:</p>
	<div class="menuContainer leftContainer">
		<% for (var i=0; i < levelsData.length; i++) { %>
		<div class="clickable menuItem blockMenuItem">
			<img name="img" alt="<%= levelsData[i].description %>" title="<%= levelsData[i].description %>"
				src="<%= levelsData[i].img %>">
			<p><%= levelsData[i].name %></p>
		</div>
		<% } %>
	</div>
	<p class="description rightContainer"></p>
</div>