<div class="msgMenu">
	<h1><%= __('menu.survivalMode') %></h1>
	<p><%= __('dialogs.survivalMode.description') %></p>
	<div>
		<%= __('buttons.chooseNumberOfCubes') %>:
		<fieldset>
			<input type="radio" id="cubes27survival" checked="checked" name="cubesNumber">
			<label for="cubes27survival"><%= __('27 cubos') %></label>
			<input type="radio" id="cubes8survival" name="cubesNumber">
			<label for="cubes8survival"><%= __('8 cubos') %></label>
		</fieldset>
	</div>
	<div>
		<%= __('buttons.chooseDifficulty') %>:
		<fieldset>
			<input type="radio" id="easySurvival" name="difficulty">
			<label for="easySurvival"><%= __('words.easy') %></label>
			<input type="radio" id="mediumSurvival" checked="checked" name="difficulty">
			<label for="mediumSurvival"><%= __('words.medium') %></label>
			<input type="radio" id="hardSurvival" name="difficulty">
			<label for="hardSurvival"><%= __('words.hard') %></label>
			<input type="radio" id="hopelessSurvival" name="difficulty">
			<label for="hopelessSurvival"><%= __('words.impossible') %></label>
		</fieldset>
	</div>
</div>